.game {
  display: inline-flex;
  min-width: 680px;
}

.game-main {
  display: inline-block;
  width: 660px;
  min-width: 660px;
}

.game-vr {
  display: inline-block;
  margin-left: 20px;
  border-left: 1px solid dimgray;
  height: inherit;
}

.game-sub {
  display: inline-block;
  margin-left: 0px;
  width: 300px;
  height: inherit;
}

button {
  height: 25px;
  width: 120px;
  text-align: left;
  background-color: black;
  color: dimgray;
  border: solid 1px dimgray;
}

/* remove blue outline */
button:focus {
  outline: 0;
}

button.highlight,
.stepList button:hover {
  background-color: gray;
  color: black;
}

.btnReverse {
  margin-left: 30px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background-color: gray;
  color: black;
}

.btnReverse:hover {
  color: white;
  border: solid 1px dodgerblue;
  background-color: dodgerblue;
}
