.game {
  display: inline-flex;
  min-width: 680px;
}

.game-main {
  display: inline-block;
  width: 660px;
  min-width: 660px;
}

.game-vr {
  display: inline-block;
  margin-left: 20px;
  border-left: 1px solid dimgray;
  height: inherit;
}

.game-sub {
  display: inline-block;
  margin-left: 0px;
  width: 300px;
  height: inherit;
}

button {
  height: 25px;
  width: 120px;
  text-align: left;
  background-color: black;
  color: dimgray;
  border: solid 1px dimgray;
}

button.highlight {
  background-color: gray;
  color: black;
}