.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  position: absolute;
  top: calc(50% - 50px - 10px);
  left: calc(50% - 100px - 10px);
  width: 200px;
  height: 100px;
  padding: 10px;
  text-align: center;
  background-color: silver;
}

span.x-large {
  font-size: 40px;
  font-weight: bold;
  color: dodgerblue;
}

span.o-large {
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.modal-content button {
  height: 25px;
  color: silver;
  font-size: 14px;
  font-weight: bold;
  background-color: firebrick;
  text-align: center;
}

.modal-content button:hover {
  cursor: pointer;
}
