span.x-large {
  font-size: 40px;
  font-weight: bold;
  color: dodgerblue;
}

span.o-large {
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.turn-label {
  font-size: 30px;
  color: white;
}
