body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: black;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
